h2 {
 text-align: center;
}

p {
 padding: 3px;
 margin: 0px;
}

.rounds {
 display: inline-flex;
 flex-direction: column;
 align-items: center;
}

.matches {
 display: flex;
 flex-direction: column;
 background-color: #87ceeb;
 margin: 10px;
 width: 200px;
}

.box {
 display: flex;
 border: 1px solid black;
}

.seed {
 width: 24px;
 border-right: 1px solid black;
}

.group-main {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 20px;
 border: 5px #63b1cf solid;
 background-color: #87CEEB;
}

.group-main {
 overflow: auto;
 white-space: nowrap;
}

.group-team {
 display: flex;
}

#group-background {
 position: fixed;
 top: 0px;
 left: 0px;
 background-color: black;
 opacity: 50%;
 height: 100vh;
 width: 100vw;
}

#group-inline {
 max-width: 100%;
 display: inline;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#group-game {
 display: flex;
 align-items: center;
 flex-direction: column;
 margin: 24px;
}

#group-game-child {
 width: 500px;
 max-width: 100%;
 background-color: #87CEEB;
 border: 5px solid #63b1cf;
}

#group-game-input {
 margin: 12px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.group-label {
 margin: 6px;
}

#group-buttons {
 display: flex;
 justify-content: space-around;
 margin: 12px;
}

#groupError {
 text-align: center;
 color: red;
 font-weight: bold;
}

#group-buttons button {
 background-color: white;
}

#table {
 display: flex;
 justify-content: space-around;
 margin: 10px;
 flex-wrap: wrap;
}

.column {
 margin: 12px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.group-header {
 display: flex;
 width: 100%;
}

.group-score {
 text-align: center;
 width: 30px;
 border-top: 1px solid black;
 border-left: 1px solid black;
}

.team-score {
 width: 30px;
 text-align: center;
 border-top: 1px solid black;
 border-left: 1px solid black;
}

#teams {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-left: 1px solid black;
 border-right: 1px solid black;
 border-bottom: 1px solid black;
}

.team-individual {
 text-align: center;
 border-top: 1px solid black;
 width: 200px;
 max-width: 100%;
}

#group-matches {
 display: flex;
 width: 100%;
 flex-direction: row;
 flex-wrap: wrap;
 text-align: center;
 justify-content: space-around;
 margin: 12px;
}

#group-finish {
 margin: 16px;
 background-color: white;
}

#round-matches {
 display: flex;
 justify-content: center;
 border: 1px solid black;
}

#round-matches p {
 width: 200px;
 text-align: center;
}

.group-input {
 background-color: #87CEEB;
 text-align: center;
 width: 140px;
 border-top: none;
 border-bottom: none;
 border-color: black;
}

.group-input:hover {
 border: 1px solid black;
 transform: scale(1.4);
}

.group-complete {
 width: 138px;
 border-left: 1px solid black;
 border-right: 1px solid black;
}

#robin-head {
 width: fit-content;
 border-left: 1px solid black;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 display: flex;
 flex-direction: row;
}

.robin-id {
 width: 26px;
 text-align: center;
 border-right: 1px solid black;
 padding: 5px;
}

#blank-space {
 width: 26px;
 padding: 5px;
 color: #87CEEB;
}

#robin-parent-table {
 margin-bottom: 24px;
}

#robin-table {
 width: fit-content;
 display: flex;
 border-left: 1px solid black;
 border-bottom: 1px solid black;
}

#robin-team {
 width: 26px;
 text-align: center;
 border-right: 1px solid black;
 padding: 5px;
}

.robin-match {
 width: 26px;
 text-align: center;
 padding: 5px;
 border-right: 1px solid black;
}

.robin-button {
 border: none;
 font: 16px "Times New Roman";
 padding: 0px;
 background-color: #87CEEB;
 text-align: center;
}

.robin-button:hover {
 border: 1px solid black;
 transform: scale(2);
}