<!--Single Elimination-->
<div class="elim-main" *ngIf="bracket.format[0] == 'Single Elimination'">
 <div class="rounds" *ngFor="let round of bracket.roundOne; let i = index">
  <h1>Round {{i+1}}</h1>
  <div class="matches" *ngFor="let match of round">
   <div class="box" *ngIf="match.team1?.name !== 'qwertyasdfghzxcvbn$123'">
    <p class="seed">{{match.team1?.seed}}</p>
    <p>{{match.team1?.name}}</p>
    <p *ngIf="match.team2?.name == null">Waiting on winner...</p>
   </div>
   <div class="box" *ngIf="match.team2?.name !== 'qwertyasdfghzxcvbn$123'">
    <p class="seed">{{match.team2?.seed}}</p>
    <p>{{match.team2?.name}}</p>
    <p *ngIf="match.team2?.name == null">Waiting on winner...</p>
   </div>
  </div>
 </div>
</div>
<!--Double Elimination-->
<div class="elim-main" *ngIf="bracket.format[0] == 'Double Elimination'">
 <p>{{bracketString}}</p>
 <div class="rounds" *ngFor="let round of bracket.roundOne; let i = index">
  <h1>Round {{i+1}}</h1>
 </div>
</div>

<!--Groups-->
<div class="group-main" *ngIf="bracket.format[0] == 'Group'">
 <p>{{bracketString}}</p>
 <h2>Groups</h2>
 <div id="table">
  <div class="column" *ngFor="let column of bracket.roundOne; let i = index">
   <h3>Group {{i + 1}}</h3>
   <div id="teams">
    <div class="group-header">
     <p class="team-individual">Name</p>
     <p class="group-score">W</p>
     <p class="group-score">L</p>
     <p class="group-score">T</p>
    </div>
    <div class="group-team" *ngFor="let team of bracket.roundOne[i]">
     <p class="team-individual">{{bracket.team[team - 1].name}}</p>
     <p class="team-score">{{bracket.team[team - 1].wins}}</p>
     <p class="team-score">{{bracket.team[team - 1].loss}}</p>
     <p class="team-score">{{bracket.team[team - 1].tie}}</p>
    </div>
   </div>
  </div>
 </div>
 <div id="group-matches">
  <div id="matches-table" *ngFor="let group of bracket.groupMatches; let j = index">
   <h3>Group {{j + 1}} Matches</h3>
   <div id="round-matches" *ngFor="let match of group; let i = index">
    <p id="group-left">{{bracket.team[match.team1 - 1].name}}</p>
    <button class="group-input" *ngIf="!match.team1Score"
     (click)="inputGroupScore(bracket.team[match.team1 - 1], bracket.team[match.team2 - 1], j, i)">Add
     Score</button>
    <div class="group-complete" *ngIf="match.team1Score">{{match.team1Score}}-{{match.team2Score}}</div>
    <p>{{bracket.team[match.team2 - 1].name}}</p>
   </div>
  </div>
 </div>
 <button id="group-finish" *ngIf="groupFinished && bracket.formatAmount > 1 && bracket.format[1] != 'Group'">Generate
  Next Stage</button>
</div>
<div id="group-background" *ngIf="teamOne.name != ''"></div>
<div id="group-inline" *ngIf="teamOne.name != ''">
 <div id=" group-game">
  <div id="group-game-child">
   <div id="group-game-input">
    <div class="group-label">
     <label for="group-one">{{teamOne.name}} score: </label>
     <input id="group-one" #groupOneScore type="number" required
      onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
    </div>
    <div class="group-label">
     <label for="group-two">{{teamTwo.name}} score: </label>
     <input id="group-two" #groupTwoScore type="number" required
      onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
    </div>
   </div>
   <p id="groupError" *ngIf=" groupError">{{groupError}}</p>
   <div id="group-buttons">
    <button (click)="cancel()">Cancel</button>
    <button (click)="submit(+groupOneScore.value, +groupTwoScore.value)">Submit</button>
   </div>
  </div>
 </div>
</div>
<!--Round Robin-->
<p>{{bracketString}}</p>
<div class="group-main" *ngIf="bracket.format[0] == 'Round Robin'">
 <h2>Round Robin</h2>
 <div id="robin-head">
  <div class="robin-id">
  </div>
  <div class="robin-id" *ngFor="let team of bracket.roundOne; let k = index">
   {{k+1}}
  </div>
 </div>
 <div id="robin-parent-table">
  <div id="robin-table" *ngFor="let matches of bracket.roundOne; let i = index">
   <div id="robin-team">{{i+1}}</div>
   <div class="robin-match" *ngFor="let team of bracket.roundOne; let j = index">
    <div *ngIf="i == j">{{team[11]}}</div>
    <div *ngIf="i != j">
     <button *ngIf="team[i].team1.name" class=" robin-button" (click)="inputRobinScore(i, j)">0-0</button>
    </div>
   </div>
  </div>
 </div>
</div>