<div id="main">
  <div class="formatType">
    <h1>Swiss</h1>
    <h2>This format does not decide a single winner.</h2>
    <img src="assets/swiss.png" alt="a 16 team swiss format" />
    <p>
      This is one of the most complicated to explain. Competitors meet
      one-on-one in each round and are paired with an opponent with a similar
      running score, but does not play the same opponent more than once. With an
      even number of participants, all competitors play in each round. The Swiss
      system should be used for competitions in which there are too many
      entrants for a full round-robin (all-play-all) to be feasible, and
      eliminating any competitors before the end of the tournament is
      undesirable. Unlike group format or other systems in which all pairings
      are known from the beginning of the competition, in a Swiss system the
      match pairing for each round is done after the previous round has ended
      and depends on its results. The Swiss system seeks to provide a clear
      winner with a large number of competitors and a relatively small number of
      rounds of competition, without a single bad result terminating
      participation.
    </p>
  </div>
  <div class="formatType">
    <h1>Groups</h1>
    <h2>This format does not decide a single winner.</h2>
    <img src="assets/group.png" alt="a 16 team group format" />
    <p>
      Competitors in each group (placement in a group is decided with seeding)
      play a round robin against the other competitors in each group. Groups is
      usually used before a knockout stage. All the matches are known before
      hand.
    </p>
  </div>
  <div class="formatType">
    <h1>Round Robin</h1>
    <h2>This format could decide a single winner but is not recommended.</h2>
    <img src="assets/robin.png" alt="a 13 team round robin format" />
    <p>
      Competitors play every other competitor one time. Placement is decided
      after all the matches are complete. This format should only be used when
      there is a small pool of competitors or matches go very quickly. A winner
      could be decided (the one with the best record,) but it is not
      recommended.
    </p>
  </div>
  <div class="formatType">
    <h1>Single Elimination</h1>
    <img src="assets/single-elim.png" alt="An 18 team single elimination bracket"/>
    <p>
      A single-elimination, knockout, or sudden death tournament is a type of
      elimination tournament where the loser of each match-up is immediately
      eliminated from the tournament. Each winner will play another in the next
      round, until the final match-up, whose winner becomes the tournament
      champion.
    </p>
  </div>
  <div class="formatType">
    <h1>Double Elimination</h1>
    <img src="assets/double-elim.png" alt="A 20 team double elimination bracket"/>
    <p>
      A double-elimination tournament is a type of elimination tournament
      competition in which a participant ceases to be eligible to win the
      tournament's championship upon having lost two games or matches.
    </p>
  </div>
</div>
